# .github/workflows/pr-status-manager.yml

name: 'Simple Test Workflow'

on:
  pull_request:
    types: [opened]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello World
        run: echo "Workflow is running correctly for PR #${{ github.event.number }}"
