name: Release Notify

on:
  release:
    types: [published]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Telegram
        uses: appleboy/telegram-action@v1
        with:
          to: ${{ secrets.TELEGRAM_CHAT_ID }}
          token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          message: |
            Новый релиз опубликован!
            Название: ${{ github.event.release.name }}
            Версия: ${{ github.event.release.tag_name }}
            Описание:
            ${{ github.event.release.body }}

            Ссылка: ${{ github.event.release.html_url }}
